<%- include('layout.ejs'); %>
<div class="container">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2>Esqueci a senha</h2>
                        <div class="card">
                            <div class="card-header">Esqueci a senha</div>
                            <div class="card-body">

                                <form class="form-horizontal" id="formEdit">

                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Nome</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" id="name" required="true" placeholder="Coloque o seu nome" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">Email</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="email" id="email" required="true" placeholder="Coloque o seu email" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="newPassword" class="cols-sm-2 control-label">Senha</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="newPassword" id="newPassword" required="true" placeholder="Coloque a sua nova senha" />
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group ">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Alterar</button>
                                        <a href="/"><button type="button" class="btn btn-primary btn-lg btn-block login-button">Login</button></a>
                                        <a href="/register"><button type="button" class="btn btn-primary btn-lg btn-block login-button">Registrar</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
</div>


<script> 
    //script para transformar o método do formulário em um PUT
    const form = document.querySelector('#formEdit')
    
    form.addEventListener('submit', (event) => {
        event.preventDefault()

        //variavel que armazena o conteudo do formulario
        let name = form.elements['name'].value
        let email = form.elements['email'].value
        let newPassword = form.elements['newPassword'].value

        fetch('/forgetPassword', {
            method: 'PUT',
            headers: {'content-type': 'application/json'},
            body: JSON.stringify({
                name: name,
                email: email,
                newPassword: newPassword
            })
        })
        .then(response => {
            response.json()
            console.log(response)
            if (response.status == 400) {
                alert('Dados incorretos')
            } 
        })
        .then(data => console.log(data))

    })
</script>

</body>
</html>